@import '../../../styles/theme.scss';

.label {
	display: flex;
	flex-direction: column;
	font-family: $font-family-primary;
	min-width: 240px;
	gap: 0.5rem;

	.input {
		border-radius: 0.125rem;
		border: 1px solid $color-secondary-superlight;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		width: 100%;
		outline: none;

		&:active,
		&:focus {
			border: 1px solid $color-primary;
			outline: none;
		}
	}
}
