@import '../../../styles/theme.scss';

.label {
	display: flex;
	flex-direction: column;
	font-family: $font-family-primary;
	min-width: 240px;
	gap: 0.5rem;

	.box {
		align-items: center;
		border-radius: 0.125rem;
		border: 1px solid $color-secondary-superlight;
		display: flex;
		gap: 0.5rem;
		height: 38px;
		padding: 0.5rem 1rem;

		&:active,
		&:focus,
		&:focus-within {
			border: 1px solid $color-primary;
			outline: none;
		}

		.input {
			border: none;
			font-size: 1rem;
			width: 100%;
			outline: none;
		}
	}

	.error {
		color: $color-primary;
		font-size: 0.75rem;
	}
}
