.top {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin: auto 0;

	.texts {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;

		.logo {
			max-width: 100%;
		}

		.description {
			text-align: center;
		}
	}

	.button {
		max-width: 33rem;
		width: 100%;
	}
}

.languages {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
